$grid_width: 114rem;
$gutter_horizontal: 4rem;
$gutter_vertical:2rem;

$projectGrid_width: 90rem;
$projectSquare_width: 30rem;

$color-black: #000;
$color-white: #fff;

$accent-primary: #FA7268;
$accent-secondary: #5A7D7C;