.btn {
    padding: .5rem 1.5rem .5rem 1.5rem;
    text-transform: uppercase;
    text-decoration:none;
    position:relative;
&:hover {
    cursor:pointer;
}
    &-pink {
        color: $text_color_secondary;
        border: .1rem solid $text_color_secondary;
        position:relative;
        transition: .5s color;
        overflow:hidden;
        &:hover {
            color:white;
            &::before {
                width:102%;
            }
        }
        &::before {
            content:"";
            z-index:1;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            width:0%;
            transition:.5s width;
            height:102%;
            background-color:$text_color_secondary;
        }
    }
}
