.projectGrid {
    width: $projectGrid_width;
    margin:5rem auto;
    &__overlay {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:$text_color_secondary;
        opacity:0;
        transition: .5s opacity;
    }
    &__item {
        float:left;
        width: $projectSquare_width;
        height: $projectSquare_width;
        background-image: url("../img/test.jpg");
        transition: background-image .5s;
        background-size:cover;
        position:relative;
        overflow:hidden;
        &:hover {
            & .projectGrid__bottom{
                height:10rem;
            }
            & .projectGrid__overlay {opacity: .8;}
            & .projectGrid__top {
                opacity:1;
            }
        }
    }
    &__top {
        display:flex;
        justify-content:center;
        align-items:center;
        opacity:0;
        width:30rem;
        height:20rem;
        position:absolute;
        top:0;
    }
    &__bottom {
        background-color:white;
        height:0%;
        width:30rem;
        position:absolute;
        bottom:0;
        transition:height .2s;
        overflow:hidden;
        padding: 0 1rem;
    }
}