@keyframes fadeIn {
    0% {
        opacity:0;

    }
    100% {
        opacity:1;
    }
}

@keyframes slideToTop{
    0% {
        transform:translateY(50%);
    }
    100% {
        transform:translateY(0%);
    }
}

@keyframes slideFromLeft{
    0% {
        opacity:0;
        transform:scale(0);
    }
    100% {
        opacity:1;
        transform:scale(1);
    }
}


//NAVIGATION AND CONTENT ANIMATIONS
@keyframes nav_prevToActive {
    0% {
        transform:translateX(calc(-50% - 20rem));
    }
    100% {
        transform:translateX(calc(-50%));
    }
}

@keyframes nav_nextToActive {
    0% {
        transform:translateX(calc(-50% + 20rem));
    }
    100% {
        transform:translateX(calc(-50%));
    }
}

@keyframes nav_nextToPrev {
	0% {
		opacity:1;
		transform:translateX(calc(-50% + 20rem));
	}
	50% {
		opacity: 0; 
		transform:translateX(calc(-50% + 25rem));
	}
	50.001% {
		opacity:0;
		transform:translateX(calc(-50% - 25rem));
	}
	100% {
		opacity: 1; 
		transform:translateX(calc(-50% - 20rem));
	}
}

@keyframes nav_prevToNext {
	0% {
		opacity:1;
		transform:translateX(calc(-50% - 20rem));
	}
	50% {
		opacity: 0; 
		transform:translateX(calc(-50% - 25rem));
	}
	50.001% {
		opacity:0;
		transform:translateX(calc(-50% + 25rem));
	}
	100% {
		opacity: 1; 
		transform:translateX(calc(-50% + 20rem));
	}
}

@keyframes nav_activeToNext {
    0% {
        transform:translateX(-50%);
    }
    100% {
        transform:translateX(calc(-50% + 20rem));
    }
}

@keyframes nav_activeToPrev {
    0% {
        transform:translateX(-50%);
    }
    100% {
        transform:translateX(calc(-50% - 20rem));
    }
}

//MAIN CONTENT ANIMATIONS

@keyframes main_activeToNext {
	0% {
		transform:translateX(0vw);
	}
	100% {
		transform:translateX(80vw);
	}
}

@keyframes main_activeToPrev {
	0% {
		transform:translateX(0vw);
	}
	100% {
		transform:translateX(-80vw);
	}
}

@keyframes main_nextToPrev {
	0% {
		transform:translateX(80vw);
	}
	50% {
		transform:translateX(100vw);
		opacity:1;
	}
	50.001% {
		opacity: 0;
		transform:translateX(-100vw);
	}
	51% {
		transform:translateX(-100vw);
	}
	100% {
		transform:translateX(-80vw);
	}
}

@keyframes main_prevToNext {
	0% {
		transform:translateX(-80vw);
	}
	50% {
		transform:translateX(-100vw);
		opacity:1;
	}
	50.001% {
		opacity: 0;
		transform:translateX(100vw);
	}
	51% {
		transform:translateX(100vw);
	}
	100% {
		transform:translateX(80vw);
	}
}

@keyframes main_nextToActive {
	0% {
		transform:translateX(80vw);
	}
	100% {
		transform:translateX(0vw);
	}
}

@keyframes main_prevToActive {
	0% {
		transform:translateX(-80vw);
	}
	100% {
		transform:translateX(0vw);
	}
}