body {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    color: $text_color_primary;
    line-height: 1.7;
}

.header__primary {
    font-weight:100;
    text-transform:uppercase;
    background-color:white;

    &--main {
        font-size: 4rem;
        letter-spacing: 1rem;
        display:block;
        text-align:center;
    }

    &--sub {
        font-size: 1.4rem;
        letter-spacing: .5rem;
        display:block;
        text-align:center;
    }
}
