body {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    color: $color-black;
    line-height: 1.7;
}
.header__letterMain {
    display:inline-block;
    animation-fill-mode: back;
}
.header__primary {
    font-weight:100;
    text-transform:uppercase;
    
    &--main {
        font-size: 4rem;
        letter-spacing: 1rem;
        display:block;
        text-align:center;
    }

    &--sub {
        font-size: 1.4rem;
        letter-spacing: .5rem;
        display:block;
        text-align:center;
    }
}

.projectGrid__header {
    font-size:2.5rem;
    line-height:1;
    margin-top:10px;
}

.projectGrid__text {
    color: #777;
    font-size:1.5rem;
}

.projectGrid__link {
    font-size: 1.5rem;
    text-decoration: none;
    color:inherit;
    position:relative;
    z-index:2;
}

.section__header {
    font-size:2.5rem;
}